.button {
  background-color: var(--secondary);
  color: var(--primary);
}

.icon {
  color: var(--white);
  background-color: var(--secondary);
}

.icon:hover {
  color: var(--secondary);
  background-color: var(--white);
  border: 1px solid var(--secondary);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.544);
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: var(--tr-in);
}

@media only screen and (min-width: 767px) {
  .buttons,
  .overlay {
    display: none;
  }
}
