.register {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
  box-shadow: var(--shadow);
}

.field {
  width: 100%;
  max-width: 400px;
}

.form_title {
  margin-bottom: 70px;
  text-align: center;
  color: var(--primary);
}

.form .field:nth-child(4) {
  margin-bottom: 50px;
}

.field {
  position: relative;
  margin-bottom: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  color: var(--primary);
  transform: translateY(-50%);
}

.form_btn {
  background-color: var(--primary);
  width: 200px;
  height: 50px;
  color: var(--white);
}

.login_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: var(--primary);
  box-shadow: var(--shadow);
}

.login_title {
  color: var(--white);
  margin-bottom: 10px;
}

.login_p {
  color: var(--secondary);
  margin-bottom: 60px;
}

.login_btn {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

@media only screen and (min-width: 767px) {
  .content {
    flex-direction: row;
    height: 650px;
    width: 80%;
  }

  .form,
  .login_link {
    padding-inline: 40px;
  }

  .form {
    border-radius: 0px 10px 10px 0px;
  }

  .login_link {
    border-radius: 10px 0px 0px 10px;
  }
}

@media only screen and (min-width: 1281px) {
  .content {
    width: 60%;
  }
}
