.subtitle {
  margin: 0 auto 10px auto;
  text-transform: uppercase;
  color: var(--primary);
}

.title {
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.paragraph {
  color: var(--dark-gray);
  max-width: 500px;
  text-align: center;
  margin: 0 auto 50px auto;
}
