.features {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text_cars,
.text_store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  color: var(--white);
  width: 100%;
  height: 350px;
}

.text_cars {
  background-color: var(--royalred);
}

.text_store {
  background-color: var(--darkblue);
}

.subtitle {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 30px;
}

.cars_btn,
.store_btn {
  width: 150px;
  height: 50px;
  background-color: var(--white);
  transition: var(--tr-out);
}

.cars_btn {
  color: var(--royalred);
}

.store_btn {
  color: var(--darkblue);
}

.cars_btn:hover,
.store_btn:hover {
  background-color: var(--gray);
  transition: var(--tr-in);
}

.img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

@media only screen and (min-width: 767px) {
  .features {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1281px) {
  .cars,
  .store {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text_cars,
  .text_store {
    align-items: center;
    text-align: center;
    max-width: 550px;
    height: 100%;
  }

  .img {
    max-width: 450px;
    height: 100%;
  }
}
