.companies {
  background-color: var(--light-gray);
}

.companies_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
}

.img {
  cursor: pointer;
  width: 100%;
  max-width: 170px;
  object-fit: cover;
  filter: grayscale(1);
  border: none;
  transition: var(--tr-out);
}

.img:hover {
  filter: grayscale(0);
  transition: var(--tr-in);
}

@media only screen and (min-width: 767px) {
  .companies_content {
    flex-direction: row;
  }
}
