:root {
  /* Colors */
  --primary: #ff5400;
  --secondary: #1f1f27;
  --black: #000;
  --white: #fff;
  --light-gray: #f4f4f4;
  --dark-gray: #d9d9d9;

  /* Font-Family */
  --fm-1: "Playfair Display", sans-serif;
  --fm-2: "Montserrat", sans-serif;

  /* Font-Weight */
  --fw-1-600: 600;
  --fw-2-300: 300;

  /* Spacing and Borders */
  --br-5: 5px;

  /* Box Shadow */
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* Transition */
  --tr-in: all 0.3s ease-in;
  --tr-out: all 0.5s ease-out;
}
