.hero {
  padding-top: 110px;
  background-image: url("../../../assets/images/banner1.jpg");
  overflow: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text_content {
  width: 100%;
  max-width: 650px;
  text-align: center;
}

.subtitle,
.title {
  text-transform: uppercase;
}

.subtitle {
  color: var(--primary);
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
  color: var(--secondary);
}

.paragraph {
  margin-bottom: 50px;
  color: var(--secondary);
}

.cta {
  width: 300px;
  height: 70px;
  margin: 0px auto 40px auto;
  color: var(--white);
  transition: var(--tr-out);
  background-color: var(--primary);
}

.cta:hover {
  color: var(--primary);
  transition: var(--tr-in);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.picture_content {
  position: relative;
  width: 100%;
  height: 60vh;
  max-width: 600px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  opacity: 0.7;
}

.mercedes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media only screen and (min-width:481px) {
  .cta {
    margin: 0 auto 80px auto;
  }
}

@media only screen and (min-width: 1281px) {
  .hero {
    padding-top: 0px;
  }

  .content {
    align-items: center;
    justify-content: space-between;
  }

  .text_content {
    max-width: 600px;
    text-align: left;
  }

  .cta {
    margin: 0;
  }

  .picture_content {
    height: 100vh;
    max-width: 600px;
  }
}

@media only screen and (min-width: 1350px) {
  .picture_content {
    max-width: 700px;
  }
}
